/*@media (max-width: 1282px){
    #navwrap {
        width:641px;
        margin:25px;
        font-size:15px;
        text-overflow: clip;
    }
}
@media (max-width: 952px){
    #navwrap {
        width:476px;
        margin:25px;
        font-size:14px;
        text-overflow: clip;
    }
}
@media (max-width: 858px){
    #navwrap  {
        width:429px;
        margin:25px;
        font-size:13px;
        text-overflow: clip;
    }
}
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
#navwrap, #navwrap ul {
    margin:0;
    padding:0;
    list-style:none; /*ul bullets*/
    position:relative;
    display:inline-block;
    font-family: 'Poppins', 'Times New Roman', serif;
}
#navwrap { /*maybe begin the media query here*/
   width:482px; /*AHHHHHHH*/
   margin:0;
   background-color:#F5E6E8;
   /*box-shadow:0 2px 5px green;*/
   font-size: 16px;
}
#navwrap:before, 
#navwrap:after {
    content:'';
    display:inline;
}
#navwrap:after {
    clear:both;
}
#navwrap li {
    float:left; /*keeps order of tabs*/
    /*box-shadow: 1px 1px 0 0 #10091D;*/
    position:relative;
    
}
#navwrap a{
    float:none; /*negligible*/
    padding:6px 15px;
    text-transform:lowercase;
    text-decoration:none;
    color:#10091D;
    text-align:center; /*project drop down alignment*/
    font-weight:600; /*i'd keep it here because it discerns it as a separate option*/
    font-family: 'Poppins', 'Times New Roman', serif;
}
#navwrap li:hover > a {
    color:#10091D;
    background:#AC94F4;
    border: 1px solid black;
    opacity:100%;
}
#navwrap ul {
    margin:0; /*the heck this is creating a transition*/
    opacity:100%;
    visibility:hidden; /*hidden until hovered over*/
    position:absolute; /*don't mess with*/
    top:36px; /*how far drop down bar appears from projects*/
    left:-36px;
    background:#E4D5E3;
    transition:all .3s ease-in-out;
    /*box-shadow:0 2px 5px rgba(0,0,0,0.5);*/
}
#navwrap li:hover > ul {
    opacity:1;
    visibility:visible;
    margin:0;
}
/*#navwrap ul ul {
    top:0;
    left:150px; idk
    margin:0 0 0 20px; idk - honestly seems fine without
}*/
#navwrap ul li {
    float:none;
    text-align: center;
    display:block; /*changing nothing*/
    border:0;
    /*box-shadow: 0 1px 0 #222, 0 1px 0 #666;*/
}
#navwrap ul li:last-child {
    box-shadow:none;
}
#navwrap ul a {
    padding:10px; /*fine*/
    width:130px; /*fine*/
    display:block;
    white-space:nowrap;
    float:none;
    text-transform:lowercase;
}
#navwrap ul a:hover {
    background-color:#AC94F4;
    color:#10091D;
    opacity: 100%;
}
#navwrap ul li:first-child > a:after {
    content:'';
    position:absolute;/*no*/
    left:40px;
    top:-6px;
    border-left:6px solid transparent;
    border-right:6px solid transparent;
    border-bottom:6px solid #222;
}
#navwrap ul ul li:first-child a:after {
    border-bottom:6px solid transparent;
    border-top:6px solid transparent;
    border-right:6px solid #fff;
    left:-6px;
    top:50%;
    margin-top:-6px;
    border-left:0;
}