ul {
    text-align: center; }
ul li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: inline-block;
    margin: .25em;
    padding: .25em;
    border: 3px solid;
    border-color: #9874B4; 
    border-radius:2px;
}

#nav_menu ul {
    list-style: none;
    position: relative;
}

#nav_menu li { float: none; }

#nav_menu ul ul {
    display: none;
    position: relative;
    top: 100%;
}

#nav_menu ul ul li { float: none; }

#nav_menu ul li:hover > ul {
    display: block; }

#nav_menu > ul::after {
    content: "";
    display: block;
    clear: both;
}
img {border-radius: 50%;
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 25%;
     height: 25%;
    }
