/*palette #10091D #685798 #F5E6E8 #d8dbe9*/
@font-face {
     font-family:'Poppins';
     src:url("c:\Users\Reils\Desktop\islt_7310\Poppins\Poppins-Regular.ttf");
     font-weight:normal;
}
@media print {
     header,nav,ul,li,img {
          display:none;
     }
     h1,p,blockquote,footer {      /*do not have educational credentials as i am making a portfolio*/
          color:#000000;
          font-family:'Poppin','Times New Roman', Times, serif;
          width:100%;
          padding: 0 !important;
          margin: 0 !important;
     }
   }
blockquote {
     font-family:'Poppins', sans-serif;
}
header {
     text-align: center;}
h1 { 
     color: #685798;
     text-align: center;
     }
h2 { 
     color: #AC94F4;
     text-align: center;
     padding-left:25%;
     padding-right:25%;
     }
h3 { 
     text-align: center;}
figcaption {
     text-align: center;
     font-style: italic;
}
img { 
     border-radius:10%;
     display: block;
     margin-left: auto;
     margin-right: auto;
     width:60%;
     height:60%;
 }
body { 
     height: 100vh;
     background-color: #F5E6E8; }
main p { 
     padding-left: 5%;
     padding-right: 5%;
     text-align: center;
     display: grid;
     grid-template: 30px 300px;
     grid-gap: 20px; 
     }
main blockquote {
     padding-left: 25%;
     padding-right: 25%;
     text-align: center;
     display: grid;
     }
main p:first-child::first-letter {
     font-size: 150%; 
     }  
footer { 
     background-image: url(images/pinkClouds.jpg);
     text-align: center;
     padding-bottom:3%;
     background-repeat:no-repeat;
     background-size:30vh;
     background-position: center;
     margin:auto;
}
#zoomies {
     transition: transform .2s;
     width: 25px;
     height: 25px;
     margin: 0 auto;
 }
 #zoomies:hover {
     transform: scale(1.5);
 }
