/*palette #10091D #685798 #F5E6E8 #d8dbe9*/
@font-face {
     font-family:'Poppins';
     src:url("c:\Users\Reils\Desktop\islt_7310\Poppins\Poppins-Regular.ttf");
     font-weight:normal;
}
@media print {
     header,nav,ul,li,img {
          display:none;
     }
     h1,p,blockquote,footer {      /*do not have educational credentials as i am making a portfolio*/
          color:#000000;
          font-family:'Poppin','Times New Roman', Times, serif;
          width:100%;
          padding: 0 !important;
          margin: 0 !important;
     }
   }
blockquote {
     font-family:'Poppins', sans-serif;
}
header {
     text-align:center;
     margin:auto;
     background-image: url(images/sunsetSky.jpg);
     background-size:60%;
     background-repeat:no-repeat;
     background-position: top;
     width:100%;
}
h1 { 
     color: #685798;
     text-align:center;
     }
h2 { 
     color: #AC94F4;
     text-align: center;
     }
h3 { 
     text-align: center;
}
figcaption {
     font-style: italic;
}
img { 
     border-radius:10%;
     display: block;
     margin-left:auto;
     margin-right:auto;
     width:50%;
     height:50%;
 }
body { 
     height: 100vh;
     background-color: #F5E6E8;
     font-family: 'Poppins', 'Times New Roman', serif;
}
main p { 
     text-align: left;
     display: grid;
     /*grid-template: 30px 300px;*/
     grid-gap: 20px; 
     font-size: 14px;
     padding-left: 10%;
     padding-right: 10%;
     }
main blockquote {
     padding-left: 20%;
     padding-right: 20%;
     text-align: left;
     display: grid;
     }
main p:first-child::first-letter {
     font-size: 150%; 
     }  
footer { 
     background-image: url(images/sunsetSky.jpg);
     text-align: center;
     background-repeat:no-repeat;
     padding-bottom:3%;
     background-position:center;
     color:#EEA2C1;
     font-weight:900;
     text-shadow:2px 2px 2px #4A0074;
     width:100%
}
#zoomies {
     transition: transform .2s;
     width: 25px;
     height: 25px;
     margin: 0 auto;
 }
 #zoomies:hover {
     transform: scale(1.5);
 }
table {
     border: 1px solid black;
     border-collapse: collapse;
 }
 th, td {
     border: 1px solid black;
     padding: .2em .7em;
     text-align: right;
 }
 th.left, td.left {
     text-align: left;
 }
 thead, tfoot {
     background-color: #F68EAB;
 }
 tfoot {
     font-weight: bold;
 }